

h1{
    font-size: 3rem;
    padding : 20px;
    font-family: 'Shojumaru', cursive;
    text-shadow: 3px 3px 5px #262020;
    transition : transform 300ms ease-in-out;
}

h1 a{
    text-decoration : none;
    color : white;
}
h1 a:hover{
    text-decoration : none;
    color : white;
}
h1:hover{
    transform : scale(1.1);
    
}
h2{
    font-size: 2.5rem;
    font-family: 'Shojumaru', cursive;
}
h3{
    font-size: 2rem;
    font-family: 'Shojumaru', cursive;
}
header{
    background-color:#864f42;
    border-bottom: 8px solid #714332;
    box-shadow: 3px 3px 5px #262020;
    border-radius: 0 0 25px 25px;
    text-align: center;
}
.bt{
    text-decoration: none;
    font-weight: bold;
    color : white;
    background-color:#e6cdad;
    border: 1px solid#cab4b4;
    padding : 5px;
    box-shadow: 3px 3px 5px #262020;
    border-radius: 30px;
}

.bt{
    text-decoration: none;
    color: black;
}
.bt:hover{
    background-color: white;
    text-decoration: none;
    color: black;
}
.bt:active{
    
    box-shadow: 1px 1px 3px #262020;
}

#core{
    margin-top: 100px;
}
.hide{
    display : none;
}